
@layer components {
 .link {
  font-size: 1rem; /* text-base */
  font-weight: 500; /* font-medium */
  color: #18181B;   /* text-gray-90 */
  transition: color 300ms;
}
.link:hover {
  color: #344668;   /* text-primary-50 */
}

.btn-primary {
  display: inline-flex;
  height: 3rem; /* h-12 */
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 9999px; /* rounded-full */
  background-color: #344668; /* bg-primary-50 */
  padding-left: 1.5rem; /* px-6 */
  padding-right: 1.5rem;
  font-size: 1rem; /* text-base */
  font-weight: 400; /* font-normal */
  color: #F4F4F5; /* text-gray-10 */
  transition: background-color 300ms;
}
.btn-primary:hover {
  background-color: #344668; /* hover:bg-primary-60 */
}

.label {
  width: 100%;
  font-size: 1rem; /* text-base */
  font-weight: 400; /* font-normal */
  color: #18181B;   /* text-gray-90 */
}

.input {
  height: 3rem; /* h-12 */
  width: 100%;
  border-radius: 0.5rem; /* rounded-lg */
  border: 1.5px solid #D4D4D8; /* border-gray-30 */
  padding-left: 0.5rem; /* px-2 */
  color: #18181B; /* text-gray-90 */
  outline: none;
}
.input::placeholder {
  font-size: 0.875rem; /* text-sm */
  font-weight: 400;    /* font-normal */
  color: #71717A;      /* text-gray-50 */
}
.input:focus {
  border-color: #1465FF; /* focus:border-primary-50 */
}
}
