/* Test Tiempos Headline */
@font-face {
    font-family: 'Test Tiempos Headline Regular';
    src: url('../assets/fonts/TestTiempos/TestTiemposHeadline-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Test Tiempos Headline Bold';
    src: url('../assets/fonts/TestTiempos/TestTiemposHeadline-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/* Futura PT */
@font-face {
  font-family: 'futura-pt';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/futura/FuturaCyrillicBook.woff2') format('woff2');
  font-display: swap;
}