/* Test Tiempos Text */
@font-face {
    font-family: 'Test Tiempos Text Regular';
    src: url('../assets/fonts/TestTiemposText-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Test Tiempos Text Bold';
    src: url('../assets/fonts/TestTiemposText-Bold.otf') format('opentype');
    font-weight: 700;
}

/* Test Tiempos Text Italic */

@font-face {
    font-family: 'Test Tiempos Text Italic';
    src: url('../assets/fonts/TestTiemposText-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* Test Tiempos Text Bold Italic */

@font-face {
    font-family: 'Test Tiempos Text Bold Italic';
    src: url('../assets/fonts/TestTiemposText-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/* Test Tiempos Text Light */

@font-face {
    font-family: 'Test Tiempos Text Light';
    src: url('../assets/fonts/TestTiemposText-Light.otf') format('opentype');
    font-weight: 300;
}

/* Test Tiempos Text Light Italic */
@font-face {
    font-family: 'Test Tiempos Text Light Italic';
    src: url('../assets/fonts/TestTiemposText-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* Test Tiempos Text Medium */
@font-face {
    font-family: 'Test Tiempos Text Medium';
    src: url('../assets/fonts/TestTiemposText-Medium.otf') format('opentype');
    font-weight: 500;
}

/* Test Tiempos Text Medium Italic */
@font-face {
    font-family: 'Test Tiempos Text Medium Italic';
    src: url('../assets/fonts/TestTiemposText-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

/* Test Tiempos Text Semi Bold */
@font-face {
    font-family: 'Test Tiempos Text Semi Bold';
    src: url('../assets/fonts/TestTiemposText-SemiBold.otf') format('opentype');
    font-weight: 600;
}

/* Test Tiempos Text Semi Bold Italic */
@font-face {
    font-family: 'Test Tiempos Text Semi Bold Italic';
    src: url('../assets/fonts/TestTiemposText-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

/* Test Tiempos Text Extra Bold */
@font-face {
    font-family: 'Test Tiempos Text Extra Bold';
    src: url('../assets/fonts/TestTiemposText-ExtraBold.otf') format('opentype');
    font-weight: 800;
}

/* Test Tiempos Text Extra Bold Italic */
@font-face {
    font-family: 'Test Tiempos Text Extra Bold Italic';
    src: url('../assets/fonts/TestTiemposText-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

/* Test Tiempos Text Black */
@font-face {
    font-family: 'Test Tiempos Text Black';
    src: url('../assets/fonts/TestTiemposText-Black.otf') format('opentype');
    font-weight: 900;
}

/* Test Tiempos Text Black Italic */
@font-face {
    font-family: 'Test Tiempos Text Black Italic';
    src: url('../assets/fonts/TestTiemposText-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

/* Test Tiempos Text Thin */
@font-face {
    font-family: 'Test Tiempos Text Thin';
    src: url('../assets/fonts/TestTiemposText-Thin.otf') format('opentype');
    font-weight: 100;
}

/* Test Tiempos Text Thin Italic */
@font-face {
    font-family: 'Test Tiempos Text Thin Italic';
    src: url('../assets/fonts/TestTiemposText-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Test Tiempos fine Regular';
    src: url('../assets/fonts/TestTiemposfine-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Test Tiempos fine Bold';
    src: url('../assets/fonts/TestTiemposfine-Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Test Tiempos fine Italic';
    src: url('../assets/fonts/TestTiemposfine-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Test Tiempos Headline Regular';
    src: url('../assets/fonts/TestTiemposheadline-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Test Tiempos Headline Bold';
    src: url('../assets/fonts/TestTiemposheadline-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Test Tiempos Headline Italic';
    src: url('../assets/fonts/TestTiemposheadline-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Test Tiempos Headline Bold Italic';
    src: url('../assets/fonts/TestTiemposheadline-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}
/* #### Generated By: http://www.cufonfonts.com #### */

    @font-face {
    font-family: 'Futura PT Book';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Book'), url('FuturaCyrillicBook.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Futura PT Light';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Light'), url('FuturaCyrillicLight.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Futura PT Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Medium'), url('FuturaCyrillicMedium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Futura PT Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Demi'), url('FuturaCyrillicDemi.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Futura PT Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Heavy'), url('FuturaCyrillicHeavy.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Futura PT Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Bold'), url('FuturaCyrillicBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Futura PT Extra Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Extra Bold'), url('FuturaCyrillicExtraBold.woff') format('woff');
    }