.swiper-bullet {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 9999px;
  margin: 0 5px;
  opacity: 0.6;
  transition: all 0.3s ease;
  box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.2),   /* sombra suave superior */
    0 6px 24px rgba(0, 0, 0, 0.22),  /* sombra média */
    0 10px 40px rgba(0, 0, 0, 0.2); /* sombra ampla base */
}
.swiper-bullet-active {
  background-color: #282A3E;
  transform: scale(1.25);
  opacity: 1;
   box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.2),   /* sombra suave superior */
    0 6px 24px rgba(0, 0, 0, 0.22),  /* sombra média */
    0 10px 40px rgba(0, 0, 0, 0.2); /* sombra ampla base */
}

/* Forçar todos os containers do Swiper a não cliparem os slides */
.swiper {
  width: 90%;
  height: 100%;
  overflow: visible !important;
  z-index: initial !important;
  isolation: unset !important;
  contain: none !important;
  perspective: inherit !important;
}
.section-skills {
    height: 100vh;
}

.swiper-slide .swiper-slide-next {
  display: none
}
.swiper-slide .swiper-slide-next ::after{
  display: none
}

.card-shadow {
  box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.08),   /* sombra suave superior */
    0 6px 24px rgba(0, 0, 0, 0.12),  /* sombra média */
    0 10px 40px rgba(0, 0, 0, 0.08); /* sombra ampla base */
  transition: box-shadow 0.4s ease;
}
.skills-slider-wrapper {
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    z-index: 20;
    pointer-events: none;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, #E4E8F1, transparent);
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, #E4E8F1, transparent);
  }
}
